<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import { mdiHeartOutline } from "@mdi/js";
import { mdiCursorDefaultClick } from "@mdi/js";
</script>
<template>
  <v-container>
    <v-row>
      <v-col
        ><FancyButton
          ><v-icon :icon="mdiHeartOutline" /> Love me
          <template v-slot:tail> Tail </template>
        </FancyButton></v-col
      >
    </v-row>
    <v-row>
      <v-col
        ><FancyButton
          ><v-icon :icon="mdiCursorDefaultClick" /> Click me
          <template #tail>My Tail </template></FancyButton
        ></v-col
      >
    </v-row>
  </v-container>
</template>

<style scoped></style>
