<script setup lang="ts">
import FrameworkPop from "@/components/FrameworkPop.vue";
import { ref, computed } from "vue";
const frameList = ref([
  {
    name: "Vue JS",
    img: "https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/512/external-vuejs-an-open-source-javascript-framework-for-building-user-interfaces-and-single-page-applications-logo-shadow-tal-revivo.png",
    rating: 10,
  },
  {
    name: "AngularJS",
    img: "https://cdn.icon-icons.com/icons2/2699/PNG/512/angular_logo_icon_169595.png",
    rating: 20,
  },
  {
    name: "ReactJS",
    img: "https://cdn.cdnlogo.com/logos/r/63/react.svg",
    rating: 30,
  },
]);

function changeRating(index: number, rating: number) {
  console.log("action" + index + ": " + rating);
  frameList.value[index].rating = rating;
}

const orderList = computed(() => {
  return [...frameList.value].sort((n1, n2) => n2.rating - n1.rating);
});
</script>
<template>
  <div>
    <h1>Starred</h1>
    <v-container>
      <v-row>
        <v-col v-for="(item, index) of frameList" :key="index">
          <FrameworkPop
            :name="item.name"
            :img="item.img"
            :rating="item.rating"
            :index="index"
            @change="changeRating"
          />
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="6">
          <v-table>
            <thead>
              <tr>
                <th>Order</th>
                <th>Name</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) of frameList" :key="index">
                <td>{{ index + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.rating }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped></style>
